<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS}
			%highlight{%5p}--[%T-%-15.15t]
			[%-40X{clientMessageId}]%-40.40c{1.}[%-40M]: %m%n%ex</Property>
	</Properties>
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT"
			follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>
		<!-- Rolling File Appender -->
		<RollingFile name="FileAppender" fileName="logs/app.log"
			immediateFlush="false" filePattern="logs/app-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<Pattern>${LOG_PATTERN}</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="100MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
		<!-- <Kafka name="profileKafkaAppender" topic="sc-log" syncsend="false"> 
			<Property name="bootstrap.servers">localhost:9092</Property> <Property name="acks">0</Property> 
			<JSONLayout compact="true" properties="true"> <KeyValuePair key="logType" 
			value="profile" /> <KeyValuePair key="application" value="${bundle:application:spring.application.name}" 
			/> <KeyValuePair key="localIp" value="${sys:localIpValue}" /> </JSONLayout> 
			</Kafka> <Kafka name="exceptionKafkaAppender" topic="sc-log" syncsend="false"> 
			<Property name="bootstrap.servers">localhost:9092</Property> <Property name="acks">0</Property> 
			<JSONLayout compact="true" properties="true"> <KeyValuePair key="logType" 
			value="exception" /> <KeyValuePair key="application" value="${bundle:application:spring.application.name}" 
			/> <KeyValuePair key="localIp" value="${sys:localIpValue}" /> </JSONLayout> 
			</Kafka> <Kafka name="defaultKafkaAppender" topic="sc-log" syncsend="false"> 
			<Property name="bootstrap.servers">localhost:9092</Property> <Property name="acks">0</Property> 
			<JSONLayout compact="true" properties="true"> <KeyValuePair key="logType" 
			value="default" /> <KeyValuePair key="application" value="${bundle:application:spring.application.name}" 
			/> <KeyValuePair key="localIp" value="${sys:localIpValue}" /> </JSONLayout> 
			</Kafka> <Kafka name="requestKafkaAppender" topic="sc-log" syncsend="false"> 
			<Property name="bootstrap.servers">localhost:9092</Property> <Property name="acks">0</Property> 
			<JSONLayout compact="true" properties="true"> <KeyValuePair key="logType" 
			value="request" /> <KeyValuePair key="application" value="${bundle:application:spring.application.name}" 
			/> </JSONLayout> </Kafka> <Kafka name="responseKafkaAppender" topic="sc-log" 
			syncsend="false"> <Property name="bootstrap.servers">localhost:9092</Property> 
			<Property name="acks">0</Property> <JSONLayout compact="true" properties="true"> 
			<KeyValuePair key="logType" value="response" /> <KeyValuePair key="application" 
			value="${bundle:application:spring.application.name}" /> <KeyValuePair key="localIp" 
			value="${sys:localIpValue}" /> </JSONLayout> </Kafka> -->
	</Appenders>
	<Loggers>
		<AsyncRoot level="info" includeLocation="true">
			<AppenderRef ref="ConsoleAppender" />
		</AsyncRoot>
		<!-- <AsyncLogger name="aspect.config.com.fw.core.ExceptionTraceAspect"
			level="info" additivity="false"> <AppenderRef ref="ConsoleAppender" /> <AppenderRef 
			ref="exceptionKafkaAppender" /> </AsyncLogger> <AsyncLogger name="aspect.config.com.fw.core.MethodProfileAspect"
			level="debug" additivity="false"> <AppenderRef ref="ConsoleAppender" /> <AppenderRef 
			ref="profileKafkaAppender" /> </AsyncLogger> <AsyncLogger name="interceptor.config.com.fw.core.RequestBodyInterceptor"
			level="debug" additivity="false"> <AppenderRef ref="ConsoleAppender" /> <AppenderRef 
			ref="requestKafkaAppender" /> </AsyncLogger> <AsyncLogger name="interceptor.config.com.fw.core.RequestHandlerInterceptor"
			level="debug" additivity="false"> <AppenderRef ref="ConsoleAppender" /> <AppenderRef 
			ref="requestKafkaAppender" /> </AsyncLogger> <AsyncLogger name="interceptor.config.com.fw.core.ResponseBodyInterceptor"
			level="debug" additivity="false"> <AppenderRef ref="ConsoleAppender" /> <AppenderRef 
			ref="responseKafkaAppender" /> </AsyncLogger> <Logger name="org.apache.kafka" 
			level="WARN" /> -->
	</Loggers>
</Configuration>